body {
    font-family: '微软雅黑', sans-serif;
}

.topbarWapper {
    position: relative;
    color: #fff;
    height: 60px;
    min-width: 1000px;
    background: rgba(55, 61, 65, 0);
    border-bottom: 1px solid hsla(0, 0%, 100%, .15);
    overflow: hidden;
}

.topbarWapper .common-topbar-nav-list li {
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
    position: relative;
}

.topbarWapper > a {
    font-size: 14px;
    color: #fff;
    float: right;
    height: 60px;
    line-height: 60px;
    background: #00c1de;
    padding: 0 32px;
}

.topbarWapper > a:hover {
    text-decoration: none;
    background-color: #28d0e9;
    color: #fff;
}

.topbarWapper .common-topbar-nav-list li a {
    color: #fff;
    font-size: 15px;
}

.topbarWapper .common-topbar-nav-list li a:hover {
    color: #00c1de;
}

.topbarWapper .common-topbar-nav-list li span {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background: #1FAEFF;
    top: 58px;
    left: 50%;
}

/*地图wapper*/
.mapWapper {
    position: relative;
    top: 0;
    left: 0;
}

.mapWapper .point-area {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #6ad7e9;
    border-radius: 50%;
}

.mapWapper .point-area:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6ad7e9;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        opacity: .5;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(6);
        transform: scale(6)
    }
}

@keyframes pulse {
    0% {
        opacity: .5;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(6);
        transform: scale(6)
    }
}

.mapWapper .point-area p {
    position: absolute;
    top: -7px;
    font-size: 12px;
    width: 70px;
    height: 10px;
    text-indent: 15px;
}

/*昆山坐标*/
.mapWapper .point-area:nth-child(2) {
    top: 453px;
    left: 875px;
}

/*南京坐标*/
.mapWapper .point-area:nth-child(3) {
    top: 440px;
    left: 830px;
}

/*毫州坐标*/
.mapWapper .point-area:nth-child(4) {
    top: 415px;
    left: 765px;
}

/*成都坐标*/
.mapWapper .point-area:nth-child(5) {
    top: 465px;
    left: 620px;
}

/*苏州坐标*/
.mapWapper .point-area:nth-child(6) {
    top: 453px;
    left: 865px;
}

/*连云港坐标*/
.mapWapper .point-area:nth-child(7) {
    top: 405px;
    left: 843px;
}

.mapWapper .point-area:nth-child(2):after {
    animation-delay: 0.25s;
}

.mapWapper .point-area:nth-child(3):after {
    animation-delay: 0.5s;
}

.mapWapper .point-area:nth-child(4):after {
    animation-delay: 0.75s;
}

.mapWapper .point-area:nth-child(5):after {
    animation-delay: 1;
}

.mapWapper .point-area:nth-child(6):after {
    animation-delay: 1.25s;
}

.mapWapper .point-area:nth-child(7):after {
    animation-delay: 1.5s;
}

.container_myself {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cha {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    z-index: 10000;
    position: fixed;
    top: 10px;
    right: 15px;
    display: none;
    cursor: pointer;
}

.vjs-big-play-button {
    display: none !important;
}

.video-js {
    width: 0;
    height: 0;
}

#my-player {
    position: fixed;
    top: 0;
    left: 0;
}