<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cloud computing</title>
    <link rel="icon" href="/static/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/css/public/reset.css">
    <link rel="stylesheet" href="/static/assets/css/public/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/console/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/static/assets/css/public/buttons.css">
    <link rel="stylesheet" href="/static/assets/css/console/console.css">
    <link rel="stylesheet" href="/static/assets/css/console/2.css">
    <link rel="stylesheet" href="/static/assets/css/console/order_create.css">
    <link rel="stylesheet" href="/static/assets/css/console/order_detail.css">
    <link rel="stylesheet" href="/static/assets/css/public/paging.css">
    <link rel="stylesheet" href="/static/assets/css/public/z_pager.css">
    <link rel="stylesheet" href="/static/assets/css/public/jquery.dataTables.min.css">
    <link rel="stylesheet" id="skin_id" href="">
</head>
<body>
<!--弹出IE8不支持框-->
<!--[if lt IE 8]>
    <script src="/static/assets/js/console/ie8_.js"></script>
    <![endif]-->
<!--[if IE 8]>
    <script src="/static/assets/js/console/ie8.js"></script>
    <![endif]-->
<!--[if lt IE 9]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<header>
    <div class="header-top">
        <div class="nav-bar">
            <!-- l bar -->
            <div class="leftbar">
                <ul>
                    <li>
                        <!-- company icon -->
                        <a href="/">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <!-- console center -->
                        <div class="console_center">
                            管理控制台
                        </div>
                    </li>
                </ul>
            </div>
            <!-- r bar -->
            <div class="rightbar">
                <ul>
                    <li id="rightBarlist1">
                        <a href="">
                            <span class="">切换皮肤</span>
                        </a>
                        <!--<input type="text" class="searchBox" placeholder="搜索">-->
                        <div class="searchBox">
                            <ol>
                                <li class="body_skin1">skin_A</li>
                                <li class="body_skin2">skin_B</li>
                                <li class="body_skin3">skin_C</li>
                            </ol>
                        </div>
                    </li>
                    <li id="rightBarlist3">
                        <a href="">工单</a>
                        <ul class="workMessage">
                            <li><a href="/order/">我的工单</a></li>
                            <li><a href="/order_create/">创建工单</a></li>
                        </ul>
                    </li>
                    <li id="rightBarlist4">
                        <a href="">支持</a>
                        <ul class="beiAn">
                            <li><a href="">帮助与文档</a></li>
                            <li><a href="">论坛</a></li>
                            <li><a href="">博客</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/logout/">退出</a>
                    </li>
                    <li id="rightBarlist6">
                        <a href="" class="fa fa-cog fa-spin" style="font-size: 20px;line-height: 50px;"></a>
                        <div class="personCenter">
                            <div class="personCenterBox">
                                <a href="">
                                    <span class="fa fa-book"></span>
                                    <span>个人资料</span>
                                </a>
                                <a href="javascript:void(0)" id="change_psw">
                                    <span class="fa fa-book"></span>
                                    <span>更改密码</span>
                                </a>
                                <a href="">
                                    <span class="fa fa-book"></span>
                                    <span>操作日志</span>
                                </a>
                                <a href="/logout/">
                                    <span class="fa fa-book"></span>
                                    <span>退&nbsp;&nbsp;出</span>
                                </a>
                            </div>
                            <p>本次登录时间 :</p>

                            {% for key,value in request.session.items %}
                                {% ifequal 'now_time' key %}
                                    <p id="NowTime">{{ value }}</p>
                                {% endifequal %}
                            {% endfor %}
                            <!--<a href="">退出管理控制台</a>-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="bodyAll">
    <div class="uc-nav">
        <ul>
            <li>
                <a class="nav__item nav__item--dashbord nav__item--current" target="" href="/overview/">
                    <span class="nav__icon icon__dashboard icon--md nav__icon--current"></span>
                    <span class="nav__title">
		                    <span translate="DASHBOARD">概况</span>
		                </span>
                </a>
            </li>
            <li>
                <a class="nav__item" id="shiliViewBar" target="" href="/instances/">
                    <span class="nav__icon icon__unet icon--md"></span>
                    <span class="nav__title"><span translate="UNET">云主机</span>
		                </span>
                </a>
            </li>
            <li>
                <a class="nav__item" id="yunpanbar" target="" href="/disk/">
                    <span class="nav__icon icon__udisk icon--md"></span>
                    <span class="nav__title"><span translate="UNET">云盘</span>
		                </span>
                </a>
            </li>
            <li>
                <a class="nav__item" id="kuaizhaobar" target="" href="/snapshot/">
                    <span class="nav__icon icon__shockwave icon--md"></span>
                    <span class="nav__title"><span translate="UNET">快照</span>
		                </span>
                </a>
            </li>
            <li id="accessLog">
                <a class="nav__item" id='logBar' target="" href="/log/">
                    <span class="nav__icon icon__ufile icon--md"></span>
                    <span class="nav__title"><span translate="UNET">日志</span>
		                </span>
                </a>
            </li>
            <li>
                <a class="nav__item" id="orderBar" target="" href="/order/">
                    <span class="nav__icon icon__book icon--md"></span>
                    <span class="nav__title"><span translate="UNET">工单</span>
		                </span>
                </a>
            </li>
            {% if power != 'false' %}
                <li style="position:relative;top: 0;left: 0;">
                    {% for key,value in request.session.items %}
                        {% ifequal 'number_data' key %}
                            {% if value > 0 %}
                                <span style="display:inline-block;width: 17px;height: 17px;background: red;color: #fff;
                                     position: absolute;top: 2px;left: 37px;text-align: center;line-height: 17px;
                                     border-radius: 50%;">{{ value }}</span>
                            {% endif %}
                        {% endifequal %}
                    {% endfor %}
                    <a class="nav__item" id="manageBar" target="" id="guanlibar" href="javascript:void(0)">
                        <span class="nav__icon icon__umon icon--md"></span>
                        <span class="nav__title">
                            <span translate="UNET">管理</span>
		                </span>
                    </a>
                </li>
                </ul>
                <div class="manage_hidden" style="width: 55px;height: 104px;display: none;">
                    <ul>
                        <li class="nav__item" style="text-align: center;text-indent: 25px;">
{#                            {% if info_number %}#}
                                <a href="/order_checking/">待审核</a>
{#                            {% endif %}#}
                        </li>
                        <li class="nav__item" style="text-align: center;text-indent: 25px;">
                            <a href="/order_finished/">已完成</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
    </div>
    <!--main-body-->
    <!--云主机对应view层-->
    <!-- 模板所在位置-->
    {% block main_show %}

    {% endblock %}

    <div class="change_psw_Wapper">
        <div class="jumbotron">
            <h3>更改登陆密码</h3>
            <form action="/change_psw/" method="post" class="change_psw_form" onsubmit="return checkPassWord()">
                <label for="old_psw">
                    请输入旧密码： <input style="width: 230px;text-indent: 8px;" type="password" name="old_psw" id="old_psw"
                                   minlength="8" maxlength="20"
                                   placeholder="不能为中文或特殊字符且大于8位" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"
                                   autofocus required>
                    <span style="color: #f00;display: none;" class="mistake">密码错误！</span>
                </label>
                <label for="new_psw">
                    请输入新密码： <input style="width: 230px;text-indent: 8px;" type="password" name="new_psw" id="new_psw"
                                   minlength="8" maxlength="20"
                                   placeholder="不能为中文或特殊字符且大于8位" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"
                                   required>
                    <span style="color: #f00;display: none;" class="nosame">密码格式有误！</span>
                </label>
                <label for="confirm_psw">
                    请确认新密码： <input style="width: 230px;text-indent: 8px;" type="password" name="confirm_psw"
                                   id="confirm_psw" minlength="8" maxlength="20"
                                   placeholder="不能为中文或特殊字符且大于8位" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"
                                   required>
                </label>
                <div class="checkBar">
                    <button class="btn btn-primary change_psw_ok">确定</button>
                    <button class="btn btn-default closeBtnBar">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/static/assets/js/public/jquery.min.js"></script>
<script src="/static/assets/js/public/bootstrap.min.js"></script>
<script src="/static/assets/js/console/echarts.common.min.js"></script>
<script src="/static/assets/js/console/bootstrap-datepicker.min.js"></script>
<script src="/static/assets/js/console/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/static/assets/js/public/jquery.cookie.js"></script>
<script src="/static/assets/js/public/query.js"></script>
<script src="/static/assets/js/public/paging.js"></script>
<script src="/static/assets/js/console/console.js"></script>
<script src="/static/assets/js/console/echarts.js"></script>
<script src="/static/assets/js/public/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/public/jquery.z-pager.js"></script>
<script src="/static/assets/js/public/_base.js"></script>
</body>
</html>
