{% extends "_base.html" %}


{% block person %}
    <li id="rightBarlist6">
        <a href="">设置</a>
        <div class="personCenter">
            <div class="personCenterBox">
                <a href="">
                    <span class="fa fa-book"></span>
                    <span>个人资料</span>
                </a>
                <a href="">
                    <span class="fa fa-book"></span>
                    <span>更改密码</span>
                </a>
                <a href="">
                    <span class="fa fa-book"></span>
                    <span>操作日志</span>
                </a>
                <a href="/logout/?user={{ user_info.user }}">
                    <span class="fa fa-book"></span>
                    <span>退&nbsp;&nbsp;出</span>
                </a>
            </div>
            <p>本次登录时间 :</p>
            <!--<a href="">退出管理控制台</a>-->
        </div>
    </li>
{% endblock %}


{% block main_show %}
    <div class="main-body-wapper">
        <div id="logView">
            <div class="container-fluid">
                <form action="">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="titleInfoBox">
                                <div class="titleInfo">
                                    丨 日志列表
                                </div>
                                <div class="btnBox" style="width:62px;">
                                    <a href="" class="btn1" onclick="location.reload(true)">刷新</a>
                                </div>
                            </div>
                            <table class="table" id="logTable" style="width: 100% !important;">
                                <thead>
                                <tr>
                                    <th style="text-align:center;width: 10%;">操作对象</th>
                                    <th style="text-align:center;">操作类型</th>
                                    <th style="text-align:center;">操作人</th>
                                    <th style="text-align:center">IP</th>
                                    <th style="text-align:center">操作时间</th>
                                </tr>
                                </thead>
                                <tbody id="Logtbody" class="testbody">
                                {% if log %}
                                    {% for i in log %}
                                        <tr>
                                            <th style="text-align:center;width: 10%;">{{ i.log_detail }}</th>
                                            <th style="text-align:center;">{{ i.log_type }}</th>
                                            <th style="text-align:center;">{{ i.log_user }}</th>
                                            <th style="text-align:center">{{ i.log_ip }}</th>
                                            <th style="text-align:center">{{ i.log_opt }}</th>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                            <div class="noMessage log_noMessage">
                                <p>没有查询到符合条件的记录!</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}