{% extends "_base.html" %}

{% block person %}
    <li id="rightBarlist6">
        <a href="">设置</a>
        <div class="personCenter">
            <div class="personCenterBox">
                <a href="">
                    <span class="fa fa-book"></span>
                    <span>个人资料</span>
                </a>
                <a href="">
                    <span class="fa fa-book"></span>
                    <span>更改密码</span>
                </a>
                <a href="">
                    <span class="fa fa-book"></span>
                    <span>操作日志</span>
                </a>
                <a href="/logout/?user={{ user_info.user }}">
                    <span class="fa fa-book"></span>
                    <span>退&nbsp;&nbsp;出</span>
                </a>
            </div>
            <p>本次登录时间 :</p>
            <p id="NowTime">{{ user_info.log_time }}</p>
            <!--<a href="">退出管理控制台</a>-->
        </div>
    </li>

{% endblock %}


{% block main_show %}

    <div class="main-body-wapper">
        <div id="orderView">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="titleInfoBox">
                            <div class="titleInfo">
                                丨 工单列表
                            </div>
                            <div class="btnBox" style="width:62px;">
                                <a href="" class="btn1" onclick="location.reload(true)">刷新</a>
                            </div>
                        </div>
                        <div id="justSearchWarpper">
                            <form action="" class="justSearch">
                                <div class="select-wrapper">
                                    <select name="" id="">
                                        <option value="0" selected="selected">工单号</option>
                                        <option value="1">时间</option>
                                        <option value="2">事由</option>
                                        <option value="3">服务器</option>
                                    </select>
                                    <input type="text" placeholder="工单条件">
                                    <button>搜索</button>
                                </div>
                            </form>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>工单号</th>
                                <th>审批摘要</th>
                                <th>配置</th>
                                <th>订单创建时间</th>
                                <th>订单失效时间</th>
                                <th>订单完成时间</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody id="orderTable">
                            {% if order %}
                                {% for value in order %}
                                    <tr>
                                        <td>
{#                                            <a href="/{{ value.pid }}" style="text-decoration: underline;">{{ value.pid }}</a>#}
                                            {{ value.pid }}
                                        </td>
                                        <td>
                                            <ul style="margin: 0;">
                                                <li>
                                                    <span style="display: inline-block;text-align: right;width: 60px;">发起人:</span>
                                                    <span style="text-align: left;">666</span>
                                                </li>
                                                <li>
                                                    <span style="display: inline-block;text-align: right;width: 60px;">发起部门:</span>
                                                    <span style="text-align: left;">666</span>
                                                </li>
                                                <li>
                                                    <span style="display: inline-block;text-align: right;width: 60px;">事由:</span>
                                                    <span style="text-align: left;">666</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="pz">详细配置
                                                <ul id="hideList" style="margin: 0;">
                                                    <li><h3>云主机类型详情:</h3>
                                                        <div class="table-wapper">
                                                            <table>
                                                                <tbody>
                                                                <tr>
                                                                    <th class="hideTh">CPU</th>
                                                                    <td class="hideTd">{{ i.vcpus }}核</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="hideTh">内存</th>
                                                                    <td class="hideTd">{{ i.memory }}GB</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="hideTh">Disk</th>
                                                                    <td class="hideTd">{{ i.disk }}GB</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="hideTh">带宽</th>
                                                                    <td class="hideTd">{{ i.bandwidth }}MB</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="hideTh">系统</th>
                                                                    <td class="hideTd">{{ i.os }}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        <td>{{ value.created_at }}</td>
                                        <td>{{ value.expired_at }}</td>
                                        <td>订单完成日期</td>
{#                                        <td>创建云主机</td>#}
{#                                        {% if value.status == '已通过' %}#}
{#                                            <td style="position: relative;">#}
{#                                                {{ value.status }}#}
{#                                                <span style="display: inline-block;width: 50px;height: 50px;position: absolute;top: -5px;right: 50%;background: url(/static/assets/img/agree.png) no-repeat;background-size: 45px 45px;"></span>#}
{#                                            </td>#}
{#                                        {% elif value.status == '已失效' %}#}
{#                                            <td style="position: relative;">#}
{#                                                {{ value.status }}#}
{#                                                <span style="display: inline-block;width: 50px;height: 50px;position: absolute;top: -5px;right: 50%;background: url(/static/assets/img/refuse.png) no-repeat;background-size: 45px 45px;"></span>#}
{#                                            </td>#}
{#                                        {% else %}#}
{#                                            <td style="position: relative;">#}
{#                                                {{ value.status }}#}
{#                                            </td>#}
{#                                        {% endif %}#}
                                        <td>
                                            <ul>
                                                <li>
{#                                                    <span style="display: inline-block;text-align: right;width: 60px;">审批完成:</span>#}
                                                    <span style="text-align: left;">{{ value.status }}</span>
                                                </li>
                                                <li>
{#                                                    <span style="display: inline-block;text-align: right;width: 60px;"> 备注:</span>#}
                                                    <span style="text-align: left;">(同意及拒绝理由)</span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    {% if order %}
                        <div class="pagination" style="text-align: center;display: block;">
                                <span class="step-links">
                                    {% if order.has_previous %}
                                        <a href="?page={{ order.previous_page_number }}">上一页</a>
                                    {% endif %}

                                    <span class="current">
                                        当前第 {{ order.number }} 页, 共 {{ order.paginator.num_pages }} 页
                                    </span>

                                    {% if order.has_next %}
                                        <a href="?page={{ order.next_page_number }}">下一页</a>
                                    {% endif %}
                                </span>
                        </div>

                            <div class="noMessage order_noMessage" style="display: none;">
                                <p>没有查询到符合条件的记录!</p>
                            </div>
                        {% else %}
                            <div class="noMessage order_noMessage" style="display: block;">
                                <p>没有查询到符合条件的记录!</p>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--撤销页面-->
    <div class="withdrawWapper">
        <div class="jumbotron">
            <h3>确认 撤销工单</h3>
            <p>请确认你的选择,此工单将被撤销!</p>
            <div class="checkBar">
                <button class="btn btn-default closeBtnBar">取消</button>
                <button class="btn btn-primary withdrawBtnComputer">撤销工单</button>
            </div>
        </div>
    </div>

    <div class="deleteOrderBar">
        <div class="jumbotron">
            <h3>确认 删除工单</h3>
            <p>请确认你的选择,此工单将被删除!</p>
            <div class="checkBar">
                <button class="btn btn-default closeBtnBar">取消</button>
                <button class="btn btn-primary deleteBtnComputer">删除工单</button>
            </div>
        </div>
    </div>

{% endblock %}
