<!doctype html>
<html lang="en" style="width: 100%;height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/assets/css/public/video-js.min.css">
    <title>Document</title>
    <style>
        .video_close {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 30px;
            color: #fff;
            z-index: 10000;
            position: fixed;
            top: 10px;
            right: 15px;
{#            display: none;#}
            cursor: pointer;
        }
    </style>
</head>
<body style="width: 100%;height: 100%;">
<button class="bar">按钮</button>
<span class="video_close">×</span>
    <video id="my-player" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" data-setup="{}" style="">
        <source type="video/mp4" src="/static/assets/video/trailer.mp4">
        <p class="vjs-no-js">不支持播放</p>
    </video>
<!--[if lt IE9]>
  	<script src="/static/assets/js/public/videojs-ie8.min.js"></script>
<![endif]-->
    <script src="/static/assets/js/public/jquery.min.js"></script>
    <script src="/static/assets/js/public/video.min.js"></script>
    <script>
        var options = {autoplay: true};
        $('.bar').click(function(){
            var player = videojs("my-player", options, function onPlayerReady() {
                this.play();
                this.enterFullWindow();
            });
{#            $('.vjs-button').click();#}
        });
    </script>
</body>
</html>